@model WebApp4.Models.MgRegistrazioni

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MgRegistrazioni</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MgrgId" />
            <div class="form-group">
                <label asp-for="MgrgMbmgId" class="control-label"></label>
                <select asp-for="MgrgMbmgId" class="form-control" asp-items="ViewBag.MgrgMbmgId"></select>
                <span asp-validation-for="MgrgMbmgId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgMbcsId" class="control-label"></label>
                <select asp-for="MgrgMbcsId" class="form-control" asp-items="ViewBag.MgrgMbcsId"></select>
                <span asp-validation-for="MgrgMbcsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgData" class="control-label"></label>
                <input asp-for="MgrgData" class="form-control" />
                <span asp-validation-for="MgrgData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgNum" class="control-label"></label>
                <input asp-for="MgrgNum" class="form-control" />
                <span asp-validation-for="MgrgNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgDocRif" class="control-label"></label>
                <input asp-for="MgrgDocRif" class="form-control" />
                <span asp-validation-for="MgrgDocRif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgDataRif" class="control-label"></label>
                <input asp-for="MgrgDataRif" class="form-control" />
                <span asp-validation-for="MgrgDataRif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgCreationDate" class="control-label"></label>
                <input asp-for="MgrgCreationDate" class="form-control" />
                <span asp-validation-for="MgrgCreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgCreationUserUsrId" class="control-label"></label>
                <select asp-for="MgrgCreationUserUsrId" class="form-control" asp-items="ViewBag.MgrgCreationUserUsrId"></select>
                <span asp-validation-for="MgrgCreationUserUsrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgLastEditDate" class="control-label"></label>
                <input asp-for="MgrgLastEditDate" class="form-control" />
                <span asp-validation-for="MgrgLastEditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrgLastEditUserUsrId" class="control-label"></label>
                <select asp-for="MgrgLastEditUserUsrId" class="form-control" asp-items="ViewBag.MgrgLastEditUserUsrId"></select>
                <span asp-validation-for="MgrgLastEditUserUsrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
