@model WebApp4.Models.MgAnaArt

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MgAnaArt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MgaaId" />
            <div class="form-group">
                <label asp-for="MgaaMbdcClasse" class="control-label"></label>
                <input asp-for="MgaaMbdcClasse" class="form-control" />
                <span asp-validation-for="MgaaMbdcClasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgaaMatricola" class="control-label"></label>
                <input asp-for="MgaaMatricola" class="form-control" />
                <span asp-validation-for="MgaaMatricola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgaaDescr" class="control-label"></label>
                <input asp-for="MgaaDescr" class="form-control" />
                <span asp-validation-for="MgaaDescr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgaaNote" class="control-label"></label>
                <input asp-for="MgaaNote" class="form-control" />
                <span asp-validation-for="MgaaNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgaaDataIns" class="control-label"></label>
                <input asp-for="MgaaDataIns" class="form-control" />
                <span asp-validation-for="MgaaDataIns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgaaDataUltMod" class="control-label"></label>
                <input asp-for="MgaaDataUltMod" class="form-control" />
                <span asp-validation-for="MgaaDataUltMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
